.search_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    p {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 16px;
    }

    .search_input {
        display: flex;
        justify-content: center;
        align-items: center;

        form {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 72px;
            width: 100%;
            padding: 0 12px;
            border-radius: 8px;
            border: 1px solid #E4E5E8;
            box-shadow: 0px 0px 10px rgba($color: #18191C, $alpha: 0.03);

            .keyword {
                width: 40%;
                height: 100%;
                display: flex;
                align-items: center;
                border-right: 1px solid #EDEFF5;

                svg {
                    margin-right: 12px;
                }

                input {
                    border: none;
                    width: 70%;
                    height: 24px;

                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        color: #9199A3;
                    }
                }
            }

            .location {
                width: 30%;
                height: 100%;
                display: flex;
                align-items: center;
                margin-left: 24px;

                svg {
                    margin-right: 12px;
                }

                input {
                    border: none;
                    width: 70%;
                    height: 24px;

                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        color: #9199A3;
                    }
                }
            }

            svg {
                margin-right: 12px;
            }

            .filters {
                width: 133px;
                height: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #F1F2F4;
                border-radius: 4px;
                margin-right: 12px;
                cursor: pointer;

                svg {
                    margin-right: 12px;
                }
            }

            button {
                border: none;
                width: 160px;
                height: 48px;
                background-color: #BC2228;
                color: $whiteColor;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                border-radius: 4px;
                cursor: pointer;
            }
        }
    }

    .search_result {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        .item {
            width: 100%;
            height: 170px;
            padding: 24px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            border: 1px solid #E4E5E8;
            box-shadow: 0px 0px 10px rgba($color: #18191C, $alpha: 0.03);
            margin-bottom: 24px;
            margin-right: 24px;

            .work {
                margin-bottom: 20px;
                width: 100%;

                p {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 28px;
                    margin-bottom: 6px;
                    color: $fontColor;
                }

                div {
                    display: flex;

                    .type {
                        height: 20px;
                        background-color: #E7F6EA;
                        padding: 4px 8px;
                        border-radius: 3px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 8px;

                        span {
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 12px;
                            color: #0BA02C;

                        }
                    }

                    span {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        color: #767F8C;
                    }
                }

            }

            .company {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .info {


                    img {
                        width: 48px;
                        height: 48px;
                        margin-right: 12px;
                    }

                    div {
                        display: flex;
                        flex-direction: column;

                        p {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            margin-bottom: 4px;
                            color: $fontColor;
                        }

                        span {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            svg {
                                margin-right: 4px;
                            }

                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            color: #767F8C;
                        }
                    }
                }

            }
        }
    }
}