.search_candidate_container {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

    .content {
        max-width: 1320px;
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: $mainFont;

        .search_input {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 17px;

            form {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 72px;
                width: 100%;
                padding: 0 12px;
                border-radius: 8px;
                border: 1px solid #E4E5E8;
                box-shadow: 0px 0px 10px rgba($color: #18191C, $alpha: 0.03);

                .keyword {
                    width: 40%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    border-right: 1px solid #EDEFF5;

                    svg {
                        // margin-right: 12px;
                    }

                    input {
                        border: none;
                        width: 70%;
                        height: 24px;

                        &:focus {
                            outline: none;
                        }

                        &::placeholder {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            color: #9199A3;
                        }
                    }
                }

                .location {
                    width: 30%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    margin-left: 24px;

                    .ant-select {
                        width: 60%;
                        border: none;
                    }

                    svg {
                        margin-right: 12px;
                    }

                    input {
                        border: none;
                        width: 70%;
                        height: 24px;

                        &:focus {
                            outline: none;
                        }

                        &::placeholder {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            color: #9199A3;
                        }
                    }
                }

                svg {
                    margin-right: 12px;
                }

                .filters {
                    width: 133px;
                    height: 48px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #F1F2F4;
                    border-radius: 4px;
                    margin-right: 12px;
                    cursor: pointer;

                    svg {
                        margin-right: 12px;
                    }
                }

                button {
                    border: none;
                    width: 160px;
                    height: 48px;
                    background-color: #BC2228;
                    color: $whiteColor;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    border-radius: 4px;
                    cursor: pointer;
                }
            }
        }

        .sort_content {
            margin-bottom: 20px;

            .sort_content {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                height: 72px;
                width: 100%;
                padding: 0 12px;
                border-radius: 8px;
                border: 1px solid #E4E5E8;
                box-shadow: 0px 0px 10px rgba($color: #18191C, $alpha: 0.03);

                .item {
                    height: 48px;
                    width: 215px;
                    padding: 12px 24px;
                    border-radius: 4px;
                    background-color: #F1F2F4;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    cursor: pointer;

                    .ant-select {
                        width: 100%;
                        border: none;
                    }

                    span {
                        margin-right: 0;
                    }
                }

                .sort {
                    background-color: #BC2228;

                    span {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: $whiteColor;
                        margin-right: 0px;
                    }
                }
            }
        }

        .search_result {
            max-width: 1320px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: $mainFont;
            margin-top: 20px;

            .label {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 50px;

                p {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 48px;
                }

                .more {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    p {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #BC2228;
                        margin-right: 12px;
                    }
                }
            }

            .jobs {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                .item {
                    width: 31.5%;
                    cursor: pointer;
                    padding: 24px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px;
                    border: 1px solid #E4E5E8;
                    box-shadow: 0px 0px 10px rgba($color: #18191C, $alpha: 0.03);
                    margin-bottom: 24px;
                    margin-right: 24px;

                    &:hover {
                        border: 1px solid #bfc1c5;
                        box-shadow: 2px 2px 25px rgba($color: #18191C, $alpha: 0.03);
                        background-color: #fcfcfc;
                    }

                    .work {
                        margin-bottom: 20px;
                        width: 100%;
                        margin-bottom: 4px;

                        &:hover {
                            .title {
                                .title_content {
                                    p {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }

                        .title {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 8px;

                            .title_content {
                                display: flex;
                                align-items: center;

                                p {
                                    margin-right: 10px;
                                }
                            }

                            .featured {
                                padding: 0px 8px;
                                border-radius: 52px;

                                background-color: #FFEDED;
                                margin-right: 8px;
                                display: flex;
                                justify-content: center;

                                span {
                                    margin: 0;
                                    font-size: 11px;
                                    font-weight: 400;
                                    color: #E05151;
                                }
                            }

                            p {
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 28px;
                                color: $fontColor;
                                margin-bottom: 4px;
                            }
                        }


                        div {
                            display: flex;

                            .type {
                                height: 20px;
                                background-color: #E7F6EA;
                                padding: 4px 8px;
                                border-radius: 3px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-right: 8px;

                                span {
                                    font-weight: 600;
                                    font-size: 12px;
                                    line-height: 12px;
                                    color: #0BA02C;

                                }
                            }

                            span {
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 20px;
                                color: #767F8C;
                            }
                        }

                    }


                    .company_info {
                        display: flex;
                        justify-content: space-between;

                        width: 100%;
                        z-index: 0;

                        svg {
                            margin-top: 20px;
                        }

                        .info {
                            display: flex;
                            align-items: center;

                            &:hover {
                                div {
                                    p {
                                        text-decoration: underline;
                                    }
                                }
                            }

                            img {
                                width: 48px;
                                height: 48px;
                                margin-right: 12px;
                            }

                            div {
                                display: flex;
                                flex-direction: column;

                                p {
                                    font-weight: 550;
                                    font-size: 16px;
                                    line-height: 24px;
                                    margin-bottom: 4px;
                                    color: $fontColor;
                                }

                                span {
                                    display: flex;

                                    justify-content: center;

                                    svg {
                                        margin-right: 4px;
                                        margin-top: 0px;
                                    }

                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 20px;
                                    color: #767F8C;
                                }
                            }
                        }

                    }
                }
            }

        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    span {
        cursor: pointer;
        margin: 0 5px;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 3px;

        &:hover {
            background-color: #eee;
        }

        &.current {
            // font-weight: bold;
            background-color: #ddd;
        }
    }
}