.content_relative {
    max-width: 1320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: $mainFont;
    margin-top: 38px;

    .title {
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;

    }

    .search_result {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 300px;

        .item {
            width: 31.5%;
            height: 170px;
            padding: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 8px;
            border: 1px solid #E4E5E8;
            box-shadow: 0px 0px 10px rgba($color: #18191C, $alpha: 0.03);
            margin: 12px;

            .info {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                margin-bottom: 20px;
                align-items: center;

                img {
                    width: 56px;
                    height: 56px;
                    margin-right: 16px;
                }

                div {
                    display: flex;
                    flex-direction: column;

                    .name {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                        align-items: center;
                        margin-bottom: 6px;

                        p {
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 28px;

                            color: $fontColor;
                            margin-right: 8px;
                        }

                        .featured {
                            padding: 4px 12px;
                            border-radius: 52px;
                            width: 83px;
                            height: 28px;
                            background-color: #FFEDED;
                            margin-right: 8px;

                            span {
                                margin: 0;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 20px;
                                color: #E05151;
                            }
                        }
                    }


                    span {
                        display: flex;
                        align-items: center;


                        svg {
                            margin-right: 4px;
                        }

                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        color: #767F8C;
                    }
                }
            }

            .more {
                width: 100%;
                height: 48px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: #E7F0FA;
                border-radius: 3px;
                padding: 12px 24px;
                cursor: pointer;

                span {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #0A65CC;
                }
            }
        }
    }
}