.profile_container {
    max-width: 100%;
    width: 100%;
    font-family: $mainFont;

    .content {
        width: 100%;
        max-width: 1410px;
        height: auto;
        margin-bottom: 20px;
        .header_content_menu {
            height: 48px;
            padding: 14px;
            gap: 24px;
            background-color: #ffffff;
            width: 1440px;
            display: flex;
            align-items: center;

            h3 {
                font-weight: 400;
                cursor: pointer;
                font-size: 14px;
            }

            .header_content_menu_item {
                .content_profile {
                    width: 39px;
                    height: 20px;
                    color: #bc2228;
                }

                .content_profile_manager {
                    width: 75px;
                    height: 20px;
                    color: #5e6670;
                }

                .content_profile_target {
                    width: 108px;
                    height: 20px;
                    color: #5e6670;
                }
            }
        }

        .profile_content {
            padding-right: 21px;
            padding-left: 30px;
            margin-top: 20px;
            width: 100%;
            gap: 29px;
            display: flex;
            justify-content: space-between;
        }

        .box_content_left {
            background-color: #ffffff;
            border-radius: 8px;
            border: 1px solid #cccccc;
            width: 534px;
            height: 833px;
            padding: 30px;

            .box_content_left_title {
                width: 474px;
                height: 58px;
                margin-bottom: 30px;

                h3 {
                    font-size: 24px;
                }
            }

            .box_content_left_info {
                width: 474px;
                height: 430px;
                border-bottom: 1px solid #cccccc;
                border-top: 1px solid #cccccc;
            }

            .content_left_info_item {
                width: 504px;
                height: 58px;
                display: flex;
                align-items: center;
                gap: 24px;
                margin-top: 27px;

                img {
                    width: 19px;
                    height: 19px;
                }

                h3 {
                    color: #bc2228;
                    font-size: 20px;
                }

                i {
                    width: 16px;
                    height: 10px;
                }

                h2 {
                    font-size: 20px;
                }
            }

            .profile_content_info {
                gap: 10px;
                align-items: center;
                margin-top: 30px;
                display: flex;

                img {
                    width: 64px;
                    height: 64px;
                }

                h3 {
                    font-size: 24px;
                }
            }

            .profile_content_button {
                text-align: center;
                margin-top: 30px;

                .button-review {
                    width: 248px;
                    height: 56px;
                    border-radius: 4px;
                    border: none;
                    background-color: #bc2228;
                    color: #ffffff;
                }
            }

            .profile_content_info_company {
                background-color: #ffffff;
                width: 826px;
                height: 245px;
                border: 1px solid black;
            }
        }

        .profile_content_right {
            width: 100%;

            .profile_content_info_company {
                border-radius: 5px;
                box-shadow:
                    0 4px 8px 0 rgba(0, 0, 0, 0.2),
                    0 6px 20px 0 rgba(0, 0, 0, 0.19);
                width: 100%;
                height: 245px;
                background-color: #ffffff;

                .profile_content_info_header {
                    text-align: end;
                    padding-top: 18px;
                    padding-right: 68px;

                    span {
                        cursor: pointer;

                        svg {
                            transition: all 0.15s ease-in-out;
                        }

                        &:hover {
                            svg {
                                transform: scale(1.2);
                            }
                        }
                    }
                }

                .box_profile_content_info {
                    display: flex;
                    gap: 20px;

                    .box_profile_content_info_logo {
                        img {
                            width: 96px;
                            height: 96px;
                        }
                    }

                    .profile_content_info_user {
                        margin-top: 18px;
                        width: 510px;
                        height: 194px;

                        h2 {
                            width: 213px;
                            height: 24px;
                            font-size: 24px;
                        }

                        h3 {
                            margin-top: 10px;
                            font-size: 14px;
                            color: #767f8c;
                        }

                        .profile_content_info_des_menu {
                            margin-top: 10px;
                            display: flex;
                            gap: 54px;
                            align-items: center;
                            justify-content: space-between;

                            .profile_content_info_des_left {
                                color: #767f8c;
                                font-size: 14px;
                                width: 216px;
                                height: 95px;

                                .profile_content_info_item {
                                    img {
                                        width: 12px;
                                        height: 12px;
                                    }

                                    display: flex;
                                    align-items: center;
                                    gap: 7px;
                                    margin-top: 10px;
                                }

                                p {}
                            }

                            .profile_content_info_des_right {
                                color: #767f8c;
                                font-size: 14px;
                                width: 192px;
                                height: 95px;

                                .profile_content_info_item {
                                    img {
                                        width: 12px;
                                        height: 12px;
                                    }

                                    display: flex;
                                    gap: 7px;
                                    align-items: center;
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                }
            }

            .profile_content_info_user_menu {
                .profile_content_info_user_item {
                    box-shadow:
                        0 4px 8px 0 rgba(0, 0, 0, 0.2),
                        0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    border-radius: 8px;
                    margin-top: 50px;
                    background-color: #ffffff;
                    padding: 18px 24px;
                    width: 821px;
                    min-height: 146px;

                    .content_info_user_header {
                        padding-right: 67px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        img {
                            cursor: pointer;
                            width: 19px;
                            height: 19px;

                            &:hover {
                                transition: all .3s ease-in-out;
                                transform: scale(1.1);
                            }
                        }

                        h3 {
                            font-weight: 700;
                            font-size: 24px;
                        }
                    }

                    .content_info_user_title {
                        margin-top: 22px;

                        table {
                            width: 100%;
                            border-collapse: collapse;

                            th,
                            td {
                                padding: 8px;
                                text-align: left;
                            }

                            th {
                                color: #bc2228;
                            }

                            td {
                                color: #5e6670;

                                span {
                                    margin: 0 5px;

                                    &:hover {
                                        svg {
                                            transition: all .15s ease-in-out;
                                            transform: scale(1.15);
                                        }
                                    }
                                }
                            }

                            tr:hover td {
                                cursor: pointer;
                                background-color: #ddd;
                            }
                        }

                        p {
                            font-size: 16px;
                            color: #767f8c80;
                        }
                    }

                    .content_info_user_header_v2 {
                        padding-right: 31px;
                        margin-right: 39px;
                        display: flex;
                        padding-bottom: 4px;
                        align-items: center;
                        justify-content: space-between;
                        border-bottom: 1px solid #c4c4c4;

                        img {
                            cursor: pointer;
                            width: 19px;
                            height: 19px;
                        }

                        h3 {
                            font-size: 24px;
                        }
                    }

                    .content_info_user_title_v2 {
                        margin-top: 26px;
                        display: flex;
                        padding-right: 48px;
                        padding-left: 24px;
                        justify-content: space-between;

                        .content_info_user_title_v2_left {
                            p {
                                color: #767f8c;
                            }
                        }

                        .content_info_user_title_v2_right {
                            display: flex;
                            gap: 19px;
                        }
                    }
                }
            }
        }
    }
}

h2 {
    font-size: 35px;
    margin-top: 10px;
}

.company {

    height: 175px !important;

}