* {
    font-family: cabin;
}

.box-logo-rikkei {
    padding: 60px;
    width: 100%;

    img {
        Width: 200px;
        Height: 67px;
    }
}

.box-content-company {
    max-width: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

    .box-register-content-left-company {
        width: 50%;

        form {
            width: 100%;
            margin-bottom: 20px;
            border-right: 2px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(to bottom, #ffffff, #0A033C, #ffffff);
            padding: 123px;

            .title-rikkei-company {
                width: 100%;

                h3 {
                    width: 483px;
                    height: 106px;
                    font-size: 30px;
                }
            }

            .info-content-account {
                align-items: center;
                width: 474px;
                height: 40px;
                border-left: 10px solid #BC2228;

                h3 {
                    padding: 5px;
                    font-size: 24px;
                    margin-left: 15px;
                }
            }

            .box-item-content-company {

                margin-top: 20px;

                label {
                    font-size: 16px;
                }

                .input-name-company {
                    width: 474px;
                    height: 40px;
                    // width: 486px;
                    // height: 65px;
                    width: 100%;
                    // padding: 10px 10px;
                    margin-top: 15px;

                    &::placeholder {
                        font-size: 14px;
                        font-weight: 400;
                        color: #5D5A6F;
                    }
                }

                .input-email-company {
                    width: 474px;
                    height: 40px;
                    // width: 486px;
                    // height: 65px;
                    width: 100%;
                    // padding: 10px 10px;
                    margin-top: 15px;

                    &::placeholder {
                        font-size: 14px;
                        font-weight: 400;
                        color: #5D5A6F;
                    }
                }

                .input-password-company {
                    width: 474px;
                    height: 40px;
                    // width: 486px;
                    // height: 65px;
                    // padding: 10px 10px;
                    cursor: pointer;
                    width: 100%;
                    margin-top: 15px;

                    &::placeholder {
                        font-size: 14px;
                        font-weight: 400;
                        color: #5D5A6F;
                    }
                }

                .input-confirm-password-company {
                    width: 474px;
                    height: 40px;
                    // width: 486px;
                    // height: 65px;
                    // padding: 10px 10px;
                    cursor: pointer;
                    width: 100%;
                    margin-bottom: 20px;
                    margin-top: 15px;

                    &::placeholder {
                        font-size: 14px;
                        font-weight: 400;
                        color: #5D5A6F;
                    }
                }
            }

            .box-item-forgot {
                font-size: 14px;
                color: #5D5A6F;
                cursor: pointer;
                font-weight: 500;
                width: 100%;
                margin-top: 20px;
                margin-bottom: 20px;
                text-align: center;
            }

            .box-item-create-account {
                font-weight: 500;
                font-size: 14px;
                text-align: center;
                color: #5D5A6F;

                span {
                    cursor: pointer;
                    color: #BC2228;
                }
            }

        }
    }

    .box-content-right-company {
        width: 50%;

        form {

            width: 100%;
            margin-bottom: 20px;
            border-right: 2px solid;
            padding: 123px;

            .title-rikkei-company {
                width: 100%;

                h3 {
                    width: 483px;
                    // height: 106px;
                    font-size: 24px;
                }
            }

            .info-content-company {
                margin-top: 83px;
                align-items: center;
                width: 474px;
                height: 40px;
                border-left: 10px solid #BC2228;

                h3 {
                    padding: 5px;
                    font-size: 24px;
                    margin-left: 15px;
                }
            }

            .box-item-content-company {

                margin-top: 20px;

                label {
                    font-size: 16px;
                }

                .input-company {
                    width: 474px;
                    height: 40px;
                    width: 100%;
                    // padding: 10px 10px;
                    margin-top: 15px;

                    &::placeholder {
                        font-size: 14px;
                        font-weight: 400;
                        color: #5D5A6F;
                    }

                }

                .input-phonenumber {
                    // width: 486px;
                    // height: 65px;
                    width: 474px;
                    height: 40px;
                    width: 100%;
                    // padding: 10px 10px;
                    margin-top: 15px;

                    &::placeholder {
                        font-size: 14px;
                        font-weight: 400;
                        color: #5D5A6F;
                    }
                }

                .input-email-company {
                    // width: 486px;
                    width: 474px;
                    height: 40px;
                    // height: 65px;
                    width: 100%;
                    // padding: 10px 10px;
                    margin-top: 15px;

                    &::placeholder {
                        font-size: 14px;
                        font-weight: 400;
                        color: #5D5A6F;
                    }
                }



                .select-city {
                    width: 100%;
                    margin-top: 15px;
                    height: 40px;

                    &::placeholder {
                        font-size: 14px;
                        font-weight: 400;
                        color: #5D5A6F;
                    }
                }

                .input-confirm-password-company {
                    // width: 486px;
                    // height: 65px;
                    // padding: 10px 10px;
                    cursor: pointer;
                    width: 100%;
                    margin-bottom: 20px;
                    margin-top: 15px;

                    &::placeholder {
                        font-size: 14px;
                        font-weight: 400;
                        color: #5D5A6F;
                    }
                }
            }
        }
    }

}

.box-button-register-company {
    text-align: center;
    align-items: center;

    .button-register-company {
        text-align: center;
        cursor: pointer;
        font-size: 16px;
        width: 474px;
        height: 60px;
        color: #ffffff;
        border-radius: 5px;
        outline: none;
        background-color: #BC2228;
    }
}

.box-item-have-account {
    margin-bottom: 77px;
    margin-top: 20px;
    text-align: center;
    align-items: center;

    span {
        cursor: pointer;
        color: #BC2228;
    }
}