.applied_candidate_container {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 300px;
    .content {
        max-width: 1320px;
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: $mainFont;

        .label {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 50px;

            p {
                font-weight: 500;
                font-size: 40px;
                line-height: 48px;
            }

            .more {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                p {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #BC2228;
                    margin-right: 12px;
                }
            }
        }

        .candidate {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;

            .item {
                width: 31.5%;
                max-width: 425px;
                height: 270px;
                padding: 24px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                border: 1px solid #E4E5E8;
                box-shadow: 0px 0px 10px rgba($color: #18191C, $alpha: 0.03);
                margin: 12px;
                cursor: pointer;

                .info {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    align-items: center;
                    margin-bottom: 20px;

                    .left {
                        display: flex;
                        align-items: center;

                        img {
                            width: 86px;
                            height: 78px;
                            margin-right: 12px;
                        }

                        .candidate_info {
                            display: flex;
                            flex-direction: column;

                            p {
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 24px;
                                margin-bottom: 4px;
                            }

                            div {
                                display: flex;

                                .position {
                                    width: 92px;
                                    height: 28px;
                                    padding: 4px 12px;
                                    background-color: #0BA02C;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 3px;
                                    margin-right: 8px;

                                    span {
                                        font-weight: 600;
                                        font-size: 14px;
                                        line-height: 20x;
                                        color: $whiteColor;
                                    }
                                }

                                .level {
                                    width: 75px;
                                    height: 28px;
                                    padding: 4px 12px;
                                    background-color: #E7F0FA;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 52px;
                                    margin-right: 8px;

                                    span {
                                        font-weight: 400;
                                        font-size: 14px;
                                        line-height: 20x;
                                        color: #0A65CC;
                                    }
                                }

                            }
                        }

                    }
                }

                .skill {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .tech {
                        display: flex;
                        margin-bottom: 20px;

                        p {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            color: #767F8C;
                            margin-right: 8px;
                        }

                        .each {

                            height: 20px;
                            padding: 4px 8px;
                            background-color: #E7F6EA;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 3px;
                            margin-right: 8px;

                            span {
                                font-weight: 600;
                                font-size: 12px;
                                line-height: 12px;
                                color: #0BA02C;
                            }
                        }
                    }

                    .languages {
                        display: flex;
                        margin-bottom: 20px;

                        p {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            color: #767F8C;
                            margin-right: 8px;
                        }

                        .each {

                            height: 20px;
                            padding: 4px 8px;
                            background-color: #FCE1D1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 3px;
                            margin-right: 8px;

                            span {
                                font-weight: 600;
                                font-size: 12px;
                                line-height: 12px;
                                color: #F16A1B;
                            }
                        }
                    }
                }

                .address {
                    display: flex;
                    width: 100%;
                    align-items: center;

                    span {
                        svg {
                            margin-right: 8px;
                        }

                        font-weight: 400;
                        font-size:14px;
                        line-height: 20px;
                        color: #767F8C;
                    }

                }
            }

        }
    }
}