.open_jobs_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    justify-content: start !important;
    align-items: start !important;

    .title {
        display: flex;
        justify-content: space-between;
        width: 100%;

        p {
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 16px;
        }

        .add {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px 16px;
            border-radius: 4px;
            border: 1px solid #BC2228;
            height: 40px;
            margin-right: 10px;
            cursor: pointer;

            span {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #BC2228;
            }
        }
    }




    .job_show {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .item {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            border-radius: 8px;
            border: 1px solid #E4E5E8;
            box-shadow: 0px 0px 10px rgba($color: #18191C, $alpha: 0.03);
            margin-bottom: 24px;
            margin-right: 24px;
            padding: 24px;
            height: 200px;
            position: relative;

            .delete {
                position: absolute;
                top: 20px;
                right: 20px;
                display: flex;
                justify-content: flex-end;
                cursor: pointer;
            }

            .edit {
                width: 20%;
                display: flex;
                justify-content: center;
                height: 30px;

                span {
                    margin: 0;
                }

                &:hover {
                    background-color: #ee6464;
                }
            }

            .work {
                width: 100%;

                p {
                    font-weight: 550;
                    font-size: 18px;
                    line-height: 28px;
                    margin-bottom: 6px;
                    color: $fontColor;

                    span {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 18px;
                        color: #808892;
                        margin-left: 10px;
                    }
                }

                div {
                    display: flex;

                    .type {
                        height: 20px;
                        background-color: #E7F6EA;
                        padding: 4px 8px;
                        border-radius: 3px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 8px;

                        span {
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 12px;
                            color: #0BA02C;

                        }
                    }

                    span {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        color: #767F8C;
                    }
                }

            }

            .company_info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin: 10px 0;

                .info {
                    justify-content: start;

                    img {
                        width: 48px;
                        height: 48px;
                        margin-right: 12px;
                    }

                    div {
                        display: flex;
                        flex-direction: column;

                        p {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            margin-bottom: 4px;
                            color: $fontColor;
                        }

                        span {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            svg {
                                margin-right: 4px;
                            }

                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            color: #767F8C;
                        }
                    }
                }

            }
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;

        span {
            cursor: pointer;
            margin: 0 5px;
            padding: 5px 10px;
            border: 1px solid #ccc;
            border-radius: 3px;

            &:hover {
                background-color: #eee;
            }

            &.current {
                // font-weight: bold;
                background-color: #ddd;
            }
        }
    }

}