.relavetiveJobs_container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 662px;
    flex-direction: column;
    font-family: $mainFont;

    p {
        font-weight: 500;
        font-size:40px;
        line-height: 48px;
        margin-bottom: 50px;
        color: $fontColor;
    }

    .content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .item {
            width: 30%;
            height: 170px;
            padding: 24px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            border: 1px solid #E4E5E8;
            box-shadow: 0px 0px 10px rgba($color: #18191C, $alpha: 0.03);
            margin-bottom: 24px;
            margin-right: 24px;

            .work {
                margin-bottom: 20px;
                width: 100%;

                p {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 28px;
                    margin-bottom: 6px;
                    color: $fontColor;
                }

                div {
                    display: flex;

                    .type {
                        height: 20px;
                        background-color: #E7F6EA;
                        padding: 4px 8px;
                        border-radius: 3px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 8px;

                        span {
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 12px;
                            color: #0BA02C;

                        }
                    }

                    span {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        color: #767F8C;
                    }
                }

            }

            .company {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .info {


                    img {
                        width: 48px;
                        height: 48px;
                        margin-right: 12px;
                    }

                    div {
                        display: flex;
                        flex-direction: column;

                        p {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            margin-bottom: 4px;
                            color: $fontColor;
                        }

                        span {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            svg {
                                margin-right: 4px;
                            }

                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            color: #767F8C;
                        }
                    }
                }

            }
        }

    }
}