* {
    font-family: cabin;
}

.box-logo-rikkei {
    padding: 60px;
    width: 100%;

    img {
        width: 200px;
        height: 67px;
        cursor: pointer;
    }
}

.box-content-forgot {
    max-width: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

    .box-content-left {
        width: 40%;

        form {
            width: 100%;
            margin-bottom: 157px;
            border-right: 2px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(to bottom, #ffffff, #0a033c, #ffffff);
            padding: 64px;

            .title-rikkei {
                width: 100%;

                h3 {
                    width: 470px;
                    height: 80px;
                    font-size: 30px;
                }
            }

            .box-item-content-forgot {

                label {
                    font-size: 16px;
                }

                .input-email {
                    width: 486px;
                    height: 50px;
                    width: 100%;

                    &::placeholder {
                        font-size: 14px;
                        font-weight: 400;
                        color: #5d5a6f;
                    }
                }

                .input-password {
                    width: 486px;
                    height: 50px;
                    cursor: pointer;
                    width: 100%;
                    margin-bottom: 20px;

                    &::placeholder {
                        font-size: 14px;
                        font-weight: 400;
                        color: #5d5a6f;
                    }
                }
            }

            .box-item-forgot {
                font-size: 14px;
                color: #5d5a6f;
                cursor: pointer;
                font-weight: 500;
                width: 100%;
                margin-top: 20px;
                margin-bottom: 20px;
                text-align: center;
                &:hover {
                    p {
                        transition: all 0.15s ease-in-out;
                        color: #bc2228;
                        text-decoration: underline;
                    }
                }
            }

            .box-button-forgot {
                margin-top: 50px;
                .button-forgot {
                    cursor: pointer;
                    font-size: 16px;
                    width: 486px;
                    width: 100%;
                    color: #ffffff;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    padding: 20px;
                    background-color: #bc2228;
                }
            }
        }
    }

    .box-content-right {
        .box-img-content {
            width: 100%;
            padding: 10px;

            img {
                width: 500px;
                height: 500px;
            }
        }
    }
}
