.company_manager_container {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

    .content {
        max-width: 1320px;
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: $mainFont;
        margin-top: 30px;
        .header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .header_left {
                display: flex;

                img {
                    width: 96px;
                    height: 96px;
                }

                .company_info {
                    display: flex;
                    flex-direction: column;

                    p {
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 32px;
                        
                    }

                    div {
                        display: flex;
                        align-items: center;

                        span {
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 28px;
                            margin-right: 8px;
                        }

                        .full_time {
                            padding: 4px 12px;
                            border-radius: 3px;
                            background-color: #0BA02C;
                            height: 28px;
                            margin-right: 8px;


                            span {
                                margin: 0;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 20px;
                                color: $whiteColor;
                            }
                        }

                        .featured {
                            padding: 4px 12px;
                            border-radius: 52px;
                            height: 28px;
                            background-color: #FFEDED;
                            margin-right: 8px;
                            display: flex;
                            justify-content: center;

                            span {
                                margin: 0;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 20px;
                                color: #E05151;
                            }
                        }

                        .link {
                            svg {
                                margin-right: 8px;
                            }

                            span {
                                font-size: 18px;
                                font-weight: 400;
                                line-height: 28px;
                                color: #474C54;
                            }
                        }
                    }
                    .emplyees{
                        svg{
                            margin-right: 5px;
                        }
                        span{
                            margin-right: 20px;
                        }
                    }
                }
            }

            .header_right {
                display: flex;
                justify-content: space-between;
                height: 56px;

                .save {
                    width: 56px;
                    height: 100%;
                    background-color: rgba($color: #BC2228, $alpha: 0.22);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 12px;
                    cursor: pointer;
                    border-radius: 4px;
                }

                .apply {
                    width: 248px;
                    height: 100%;
                    background-color: rgba($color: #BC2228, $alpha: 1);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $whiteColor;
                    cursor: pointer;
                    border-radius: 4px;

                    span {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        margin-right: 12px;
                    }
                }
            }
        }

        .info {
            width: 100%;
            display: flex;

            .info_left {
                display: flex;
                flex-direction: column;
                width: 60%;

                .info_left_content {
                    display: flex;
                    flex-direction: column;
                    width: 90%;

                    h3 {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 28px;
                        color: $fontColor;
                        margin-bottom: 16px;
                    }

                    .description {
                        display: flex;
                        flex-direction: column;

                        span {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            color: #5E6670;
                            margin-bottom: 16px;
                        }
                    }

                    p {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        color: $fontColor;
                        margin-bottom: 8px;
                    }

                    ul {
                        margin-left: 25px;

                        li {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            color: #5E6670;

                        }
                    }


                }

            }

            .info_right {
                width: 40%;
                display: flex;
                flex-direction: column;
                align-items: center;

                // height: 160px;

                .info_right_top {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    border-radius: 8px;
                    border: 2px solid #E7F0FA;
                    padding: 18px 32px;

                    .label {
                        display: flex;
                        align-items: center;

                        svg {
                            margin-right: 8px;
                        }

                        img {
                            width: 50px;
                            height: 50px;
                            margin-right: 8px;
                        }

                    }

                    p {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        color: #767F8C;
                    }

                    .candidate_contact {
                        p {
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 28px;
                            color: $fontColor;
                            margin-bottom: 8px;

                        }

                        .contact {
                            display: flex;

                            .link {
                                background-color: rgba($color: #BC2228, $alpha: 0.2);
                                padding: 8px 16px;
                                border-radius: 4px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-right: 8px;
                                cursor: pointer;

                                svg {
                                    margin-right: 6px;

                                }

                                span {
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 24px;
                                    color: #BC2228;


                                }
                            }

                            .social_media {
                                background-color: rgba($color: #BC2228, $alpha: 0.2);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 40px;
                                height: 40px;
                                margin-right: 8px;
                                border-radius: 4px;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .location {
                    margin: 60px 0;

                    .label {
                        margin-bottom: 24px;

                        span {
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 28px;

                        }
                    }

                    img {
                        margin-bottom: 10px;
                    }
                }

                .info_right_bottom {
                    padding: 32px;
                    margin-top: 32px;
                    border: 2px solid #E7F0FA;
                    border-radius: 8px;
                    height: 428px;
                    width: 100%;

                    .top {
                        height: 264px;
                        border-bottom: 2px solid #E7F0FA;

                        p {
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 28px;
                            color: $fontColor;
                            margin-bottom: 20px;
                        }

                        .content {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;

                            .item {
                                display: flex;
                                flex-direction: column;
                                width: 30%;
                                margin-right: 10px;
                                margin-bottom: 20px;

                                svg {
                                    margin-bottom: 12px;
                                }

                                .label {
                                    font-weight: 400;
                                    font-size: 12px;
                                    line-height: 18px;
                                    color: #767F8C;
                                }

                                .info {
                                    font-weight: 500;
                                    font-size: 14px;
                                    line-height: 20px;
                                    color: $fontColor;
                                }
                            }
                        }
                    }

                    .bottom {
                        p {
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 28px;
                            color: $fontColor;
                            margin-bottom: 8px;
                            margin-top: 24px;
                        }

                        .contact {
                            display: flex;

                            .link {
                                background-color: rgba($color: #BC2228, $alpha: 0.2);
                                padding: 8px 16px;
                                border-radius: 4px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-right: 8px;
                                cursor: pointer;

                                svg {
                                    margin-right: 6px;

                                }

                                span {
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 24px;
                                    color: #BC2228;


                                }
                            }

                            .social_media {
                                background-color: rgba($color: #BC2228, $alpha: 0.2);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 40px;
                                height: 40px;
                                margin-right: 8px;
                                border-radius: 4px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

        }
    }
}